/* --- VARIABLES --- */
:root {
    --bg-color: #101010;
    --text-main: #fefefe;
    --text-dim: #ededed;
    --accent: #ff8400; 
    --card-bg: #f8f9fa;
    --transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
    overflow-x: hidden;
}

/* --- TYPOGRAPHY --- */
.italic-font { font-family: 'Playfair Display', serif; font-style: italic; }
.text-accent { color: var(--accent); }
.dot { color: var(--accent); }

/* --- NAVBAR --- */
.navbar {
    padding: 1.5rem 0;
    background: #101010;
    backdrop-filter: blur(10px);
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -1px;
    color: var(--accent);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,132,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text-main) !important;
    margin-left: 2rem;
}

.hero {
    padding: 160px 0 80px;
}

.hero-tag {
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: var(--accent);
}

.hero-desc {
    max-width: 600px;
    color: var(--text-dim);
    line-height: 1.8;
}


.project-card {
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 2rem;
}

.img-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    background: var(--card-bg);
    margin-bottom: 1.5rem;
}

.project-tittle{

    font-size: 3rem;
    color: var(--text-dim);
    line-height: 1.6;
    margin: 15px 0;
    text-align: center; /* O 'justify' si prefieres bloques alineados */
}

/* Estilos para la descripción del proyecto */
.project-description {
    font-size: 0.95rem;
    color: var(--text-dim);
    line-height: 1.6;
    margin: 15px 0; /* Espaciado entre tech stack y categoría */
    max-width: 90%; /* Evita que el texto sea demasiado ancho */
}

.project-img {
    width: 100%;
    height: auto;
    transition: var(--transition);
    display: block;
}

.project-card:hover .project-img {
    transform: scale(1.05);
}

/* Contenedor de iconos de Tecnología */
.project-tech-stack {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.project-tech-stack i {
    font-size: 1.5rem; /* Tamaño de los iconos */
    transition: var(--transition);
}

.project-tech-stack i:hover {
    transform: translateY(-3px);
}

.project-info h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.project-cat {
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: var(--text-dim);
    text-transform: uppercase;
}

/* --- FOOTER --- */
.footer {
    padding: 100px 0 50px;
    border-top: 1px solid #eee;
}

.contact-link {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2rem, 5vw, 4rem);
    text-decoration: none;
    color: var(--text-main);
    font-weight: 700;
    transition: var(--transition);
}

.contact-link:hover {
    color: var(--accent);
    padding-left: 20px;
}

.social-link {
    text-decoration: none;
    color: var(--text-dim);
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

/* --- ANIMATIONS --- */
.animate-up {
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}